#videocontainer {
  position: relative;
  width: 100%; // 화면 너비에 맞춤
  overflow: hidden; // 컨테이너 밖의 내용 숨김

  video {
    width: 100%;
    height: auto; // 비디오의 원본 비율 유지
    display: block;
  }

  .videoControls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; // 컨트롤러 가로 길이 비디오에 맞춤
    background: rgba(0, 0, 0, 0.7); // 반투명 검은 배경
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    visibility: hidden; // 기본적으로 숨김
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover .videoControls {
    visibility: visible;
    opacity: 1;
  }

  .playBtn,
  .muteBtn,
  .fullScreenBtn {
    background: none;
    border: none;
    color: inherit;
    font-size: 16px;
    cursor: pointer;

    i {
      font-size: 20px;
    }
  }

  .videoControls__time {
    flex-grow: 1; // 남은 공간을 모두 차지하도록 설정
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #fff;

    span {
      margin: 0 10px; // 간격 조정
    }
  }

  .timeline{
    flex-grow: 1;
  }
  .volume {
    -webkit-appearance: none; // 스타일 초기화
    width: 100px; // 적당한 길이
    height: 4px; // 슬라이더 두께
    background: #fff;
    cursor: pointer;
    border-radius: 2px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
    }
  }

  .fullScreenBtn {
    order: -1;
    margin-right: auto;
  }
}
